<mat-toolbar color='primary' class='main-toolbar'>
  <span>
    Curso Angular
  </span>
  <button mat-icon-button>
    <mat-icon class="Tool-icon">graphic_eq</mat-icon>
    <a href="https://open.spotify.com/"></a>
  </button>
  <button mat-icon-button class="Tool-icon">
    <a href="https://github.com/4NGEL1/angular-2022"></a>
   <mat-icon class="Tool-icon">github</mat-icon>
 </button>
</mat-toolbar>
<mat-progress-bar
  mode='indeterminate'
  *ngIf='loading'
  color='acent'
  ></mat-progress-bar>
<router-outlet></router-outlet>
